// font-family: 'Montserrat', sans-serif;
// font-family: 'Noto Sans JP', sans-serif;

$color-primary: #186dad;
$color-primary-light: #53b5fa;

:root {
  --color-primary: #186dad;
  --color-primary-light: #53b5fa;
  --color-subtext: rgb(228, 228, 228);
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Noto Sans JP", sans-serif;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}
