.footer {
  color: white;
  padding: 15rem;
  background-image: linear-gradient(
    to right bottom,
    rgb(37, 37, 37),
    rgb(58, 58, 58)
  );
  display: flex;
  justify-content: space-between;

  &__social-message {
    width: 45%;
    padding: 0 1.5rem 4rem 1.5rem;
    border-bottom: 1px solid white;

    &__links-icons > svg {
      fill: white;
      width: 3.5rem;
      height: 3.5rem;
    }
    &__links-icons {
      display: flex;
      justify-content: space-between;
    }
  }

  &__copy {
    font-family: "Montserrat", sans-serif;
    text-align: justify;
    width: 42%;
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2.5rem;
  }
}
