.location {
  padding: 13rem 10rem;
  background-image: linear-gradient(
      to right bottom,
      rgba(white, 0.5),
      rgba(black, 0.6)
    ),
    url("../img/location-bg.jpg");
  background-position: center;
  background-size: cover;
  position: relative;

  &__ping-icon {
    height: 10rem;
    width: 10rem;
    fill: rgba(185, 0, 0, 0.651);
    position: absolute;
    top: 40%;
    left: 14%;
    transition: transform 0.2s;
    cursor: pointer;
  }

  &__ping-icon:hover {
    transform: translateY(-0.8rem) scale(1.1);
  }

  &__tooltip {
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    padding: 1.3rem 2rem;
    font-size: 1.5rem;
    top: 30%;
    left: 10%;

    opacity: 0;
    transition: all 0.2s;
  }

  .hover-dummy:hover + &__tooltip {
    top: 28%;
    opacity: 1;
  }

  &__text {
    padding: 4.5rem;
    backdrop-filter: blur(30px);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    width: 55%;
    margin-left: auto;
    font-family: "Montserrat", sans-serif;

    &__heading {
      font-size: 5rem;
      margin-bottom: 4rem;

      & span {
        font-weight: 600;
        font-style: italic;
      }
    }

    &__subheading {
      color: var(--color-subtext);
      font-size: 1.6rem;
      line-height: 2.5rem;
    }
  }
}
